*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{

--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}


body{
    font-family: League Spartan;
    background-image: url(/images/bg-pattern-top-desktop.svg),url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position:top left , bottom right;
    background-size:auto, 59rem;
}
.container{
    padding: 60px 80px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 90px;
}

.top_section{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}

.rate_box1{
    width: 400px;
   
    padding: 20px 20px;
    border-radius: 15px;
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rate_box2{
    width: 400px;
   
    padding: 20px 20px;
    border-radius: 15px;
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 20px;
}

.rate_box3{
    width: 400px;
   
    padding: 20px 20px;
    border-radius: 15px;
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 20px;
}

.rate_box1 p{
   
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.rate_box2 p{
   
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.rate_box3 p{
   
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

h1{
    color: var(--VeryDarkMagenta);
}

.left_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_container p{
   color: var(--VeryDarkMagenta);
   margin: 20px 30% 0 0;
    Font-size: 15px;
    line-height: 20px;
}

.right_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right_container p{
    color: var(--VeryDarkMagenta);
}

.bottom_section{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    gap: 20px;
   
    
}

.social_box1,.social_box2,.social_box3{
   width: 350px;
   height: 200px;
   background-color: var(--VeryDarkMagenta);
   border-radius: 15px;
   padding: 20px 20px;
   
}

.profl{
    display: flex;
    flex-direction: row;
}

.social_box2{
    margin-top: 20px;
}

.social_box3{
    margin-top: 40px;
}

.desc{
    color: var(--White);
    line-height: 20px;
    Font-size: 15px;
    padding-top: 20px;
}


.status p{
     /* display: block;  */
    color: var(--SoftPink);
   
}

.status h4{
    color: var(--White);
    line-height: 20px;
    Font-size: 15px;
}

.profl img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}


/* Media Query */

@media(max-width: 412px){

    .container{
        padding: 30px 30px;
        gap:40px
    }

    .top_section{
        grid-template-columns: 1fr;
    }

     .rate_box2,.rate_box3{
        align-self: auto;
        
    } 
    .bottom_section{
        grid-template-columns: 1fr;
    }

     .rate_box1,.rate_box2,.rate_box3{
        width: 370px;
        flex-direction: column;
        align-items: center;
    } 
    .left_container{
        align-self: center;
        text-align: center;
    }

    .left_container p{
        margin: 0%;
    }

    .top_section{
        gap: 40px;
    }

}

@media(max-width:375px){
 
    .rate_box1,.rate_box2,.rate_box3{
        width: 310px;
    }

    .social_box1,.social_box2,.social_box3{
        width: 310px;
        margin: 0;
    }

    .bottom_section{
        gap: 10px;
        
    }
}